{% extends "layout/layout.html" %}
{% block title %}
Information
{% endblock %}
{% block style_sheet %}
<link href="{{ url_for('static', filename='profile/css/account_information_page.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="box px-5 py-3 rounded-3">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="d-flex align-items-center justify-content-center mt-2">
            <h3 class="text-success">
                {{message}}
            </h3>
        </div>
        <hr>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="d-flex align-items-center justify-content-center mt-3">
            <h1>
                Account information
            </h1>
        </div>
        {% from "formhelpers/information_formhelper.html" import render_field %}
        <form action="{{ url_for('profile.update_information', updated_information='user_name') }}" class="mb-3 mt-3" method="post">
            {{ render_field(form.user_name) }}
        </form>
        <form action="{{ url_for('profile.update_information', updated_information='user_email') }}" class="mb-3 mt-4" method="post">
            {{ render_field(form.user_email) }}
        </form>
        <form action="{{ url_for('profile.update_information', updated_information='user_phone') }}" class="mb-3 mt-4" method="post">
            {{ render_field(form.user_phone) }}
        </form>
        <div class="mb-3 mt-4">
            <label for="pass" class="h5 form-label">Password:</label>
            <div class="d-flex justify-content-between">
                <input type="email" class="form-control" id="pass" placeholder="******" name="pass" disabled>
                <a href="{{ url_for('profile.change_password') }}">
                    <button class="btn border-0 m-2 p-0">
                        <i class="fas fa-edit fa-lg"></i>
                    </button>
                </a>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <a href="{{ url_for('dashboard.dashboard_page') }}"><button class="btn btn-success m-2">Home</button></a>
            <a href="{{ url_for('profile.delete_account') }}"><button class="btn btn-danger m-2">Delete account</button></a>
        </div>
    </div>
</div>
<div class="log_out">
    <a href="{{ url_for('auth.logout') }}" class="m-4">
        <button class="account_btn py-2 px-3 rounded-2 border-0">
            Logout
            <i class="fas fa-sign-out-alt fa-2"></i>
        </button>
    </a>
</div>
{% endblock %}