html, body{
    height: 100%;
}
body{
    background-image: url("/static/images/backgrounds/blog_pages_background.jpg");
    background-size: cover;
}
.board{
    background-color: rgba(234, 234, 234, 0.92);
}