{% extends "auth/layout.html" %}
{% block title %}
Register
{% endblock %}
{% block style_sheet %}
<link href="{{ url_for('static', filename='auth/css/register_page.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center">
        <h1>
            Sing Up
        </h1>
    </div>
    {% from "_formhelpers.html" import render_field %}
        <form method=post>
            <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.phone) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm_password) }}
            </dl>
            <div class="d-flex align-items-center justify-content-center">
                <button type="submit" class="btn btn-success mx-2">Sign Up</button>
            </div>
        </form>
{% endblock %}
