html, body{
    height: 100%;
}
body{
    background-image: url("/static/images/backgrounds/auth_pages_background.jpg");
    background-size: cover;
}
.box{
    background-color: rgba(234, 234, 234, 0.92);
}