{% extends "profile/layout.html" %}
{% block title %}
Edit Password
{% endblock %}
{% block style_sheet %}
<link href="{{ url_for('static', filename='profile/css/password_change_page.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="d-flex align-items-center justify-content-center mt-2">
    <h3 class="text-danger">
        {{message}}
    </h3>
</div>
<hr>
{% endfor %}
{% endif %}
{% endwith %}
<div class="d-flex align-items-center justify-content-center">
    <h1>
        Change Password
    </h1>
</div>
{% from "_formhelpers.html" import render_field %}
<form method="post">
    <dl>
        {{ render_field(form.old_password) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm_password) }}
    </dl>
    <div class="d-flex align-items-center justify-content-center">
        <button type="submit" class="btn btn-success m-2">Change</button>
        <a class="btn btn-secondary m-2" href="{{ url_for('home.home_page') }}">Home</a>
    </div>
</form>
{% endblock %}