html, body{
    height: 100%;
}
body{
    background-color: #e5dacc;
}
.account{
    position: fixed;
    top: 30px;
    left: 10px;
}
.account_btn{
    background-color: rgba(189, 189, 189, 0.89);
}
.log_out{
    position: fixed;
    bottom: 30px;
    right: 10px;
}